{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "jest",
    "import",
    "testing-library",
    "@typescript-eslint/eslint-plugin"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "plugin:testing-library/react",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-prettier"
  ],
  "rules": {
    "strict": ["error", "never"],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "overrides": [
    {
      "files": ["cypress/**"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "eslint-config-prettier",
        "plugin:cypress/recommended"
      ],
      "plugins": ["cypress", "@typescript-eslint/eslint-plugin"],
      "rules": {
        "jest/expect-expect": "off"
      }
    }
  ],
  "env": {
    "browser": true,
    "jest/globals": true,
    "cypress/globals": true
  }
}
